<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Access Denied</title>
    <style type="text/css">
        body {
            background-color: navajowhite;
            padding: 50px;
        }

        .genres, .genres td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Access Denied:</h1>
<table class="menu">
    <thead>
    <tr>
        <th>Sorry, you do not have permission to view this page.</th>
    </tr>
    </thead>
</table>
</body>
</html>
